#app {
  background: radial-gradient(
    circle at 85.4% 50.8%,
    rgb(14, 72, 222) 0%,
    rgb(3, 22, 65) 74.2%
  );
  border: 2px;
  border-radius: 10px;
  margin: 100px;
  font-family: "Lato", sans-serif;
}
.searchCity {
  color: white;
  padding: 10px 10px;
  font-size: 30px;
  margin-left: 15px;
}
.search-input {
  margin-left: 10px;
}

.current-temp {
  display: block;
  border-color: white;
  border: 5px;
}
h1 {
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.units {
  font-size: 20px;
  margin-left: 50px;
  color: #fff;
}

h2 {
  color: #fff;
  margin-left: 50px;
  font-size: 70px;
}
#time {
  color: #fff;
}
.maxMinTwind {
  list-style: none;
  color: #fff;
  margin: 10px;
  font-size: 20px;
}
.windSpeed {
  color: #fff;
}

h4 {
  color: #fff;
  margin-left: 60px;
  font-size: 20px;
  text-transform: capitalize;
}
.img-thumbnail {
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: transparent;
  border-color: transparent;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.card {
  border: none;
  background: none;
}

.card-body {
  display: block;
  justify-content: center;
  background-color: transparent;
}

h3 {
  text-align: center;
}

.forecast-week {
  display: block;
  padding: 10px;
  color: #fff;
  box-align: center;
  max-width: 100%;
}
.forecast-week ul {
  list-style: none;
}
.img-fluid .rounded-start {
  box-align: center;
}
.rounded-start {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#github {
  text-align: center;
  padding-left: 50px;
  font-size: smaller;
}
small {
  display: block;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.active {
  color: #fff;
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}

.active :hover {
  text-decoration: none;
}

.codedBy {
  text-decoration: none;
  color: #fff;
}
